<h1 align="center">Gestión de Productos</h1>

<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre del producto</mat-label>
      <input matInput placeholder="Ingrese su nombre" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Descripción del producto</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>

    <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <mat-label>Codigo de Barras</mat-label>
          <input matInput>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Vendedor</mat-label>
          <input matInput>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Precio</mat-label>
          <input matInput>
        </mat-form-field></td>
    </tr></table>
  
    <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <mat-label>Compra</mat-label>
          <input matInput placeholder="160 horas mensuales">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Impuestos</mat-label>
          <input matInput >
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
            <mat-label>Descuento</mat-label>
            <input matInput >
          </mat-form-field></td>
    </tr></table>

    <br>
    <br>

    <div class="example-button-row">
        <button mat-raised-button color="primary">Ingresar</button> &nbsp; &nbsp;
        <button mat-raised-button color="primary">Modificar</button> &nbsp; &nbsp;
        <button mat-raised-button color="primary">Eliminar</button>
    </div>

</form>

