<h3>Gestión de Roles</h3>
<form>
  <div class="form-group">
  <label for="nameRol">ID (Usese solo para modificiar o eliminar)</label>
  <input #id type="text" class="form-control col-md-3">
</div>
  <div class="form-group">
    <label for="nameRol">Nombre del Rol</label>
    <input #nameRol type="text" class="form-control col-md-5">
  </div>
  
  <div class="form-group">
    <label for="descripRol">Descripción del Rol</label>
    <input type="text" class="form-control col-md-6" #descripRol>
    <small class="form-text">Breve descripción acerca del rol.</small>
  </div>
  <button type="button" (click)="ingresar(nameRol, descripRol)" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2 btn-primary-spacing" btn-sm> Ingresar</button>
  <button type="button" (click)="modificar(id,nameRol, descripRol)" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2 btn-primary-spacing" btn-sm> Modificar</button>
  <button type="button" (click)="eliminar(id)" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2 btn-primary-spacing" btn-sm> Eliminar</button>

</form>
