<h3>Gestión de Rasteo Paquetes</h3>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4"> ID del paquete(Usese para modificar o eliminar)</label>
      <input #id type="text" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4"> Track ID</label>
      <input #tid type="text" class="form-control">
    </div>
    <div class="form-colum">
      <div class="form-group col-md-9">
        <label for="inputEmail4">Estado del paquete</label>
        <input #estado type="text" class="form-control">
      </div>
    </div>

  </div>
  <button type="button" (click)="ingresar(tid,estado)" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2 btn-primary-spacing" btn-sm> Ingresar</button>
  <button type="button" (click)="modificar(id,tid,estado)" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2 btn-primary-spacing" btn-sm> Modificar</button>
  <button type="button" (click)="borrar(id)" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2 btn-primary-spacing" btn-sm> Eliminar</button>

</form>
