<!--
  Compra de productos: por cada compra se almacenará entre otros datos:
producto(s) que se vende(n), cantidad, precio unitario por producto y precio
total, finalmente se podrá ver el precio de la venta total, descuento e impuesto.
Una vez finalizada la venta existirá un proceso automático de creación de
paquete y asignación del paquete al cliente.
-->
<div class="card placed-order">

  <div class="card-header">
    <strong>Thank you!</strong></div>

  <div class="card-body">
    <label>Your order has been placed.  </label>
    <div>
      Estimated arrival date: {{ estimatedDate }}
    </div>
    <strong>Track ID:</strong>{{ trackId }}
  </div>
</div>
