<div class="container">


    <div class="row">
        <div class="col-xs-12 col-md-8">            
            <h2>Tracking Products Report</h2>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-4 input-group mb-3">
            <input type="text" class="form-control" #routesInput placeholder="Enter a route" aria-label="Enter a route" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="getTextBoxVal(routesInput)">Search</button>
            </div>
        </div>


    </div>
    <div class="row top-buffer">
        <div class="col">
            <app-track-table></app-track-table>
        </div>
    </div>
</div>
