<h3>Gestión de Trabajadores</h3>
<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="cedula">Numero de cédula</label>
        <input type="text" class="form-control" #cedula>
      </div>
      <div class="form-group col-md-6">
        <label for="dateIng">Fecha de ingreso</label>
        <input type="tel" class="form-control" #dateIng>
      </div>
      
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" #name>
      </div>
      <div class="form-group col-md-3">
        <label for="FirstLastname">Primer Apellido</label>
        <input type="text" class="form-control" #FirstLastname>
      </div>
      <div class="form-group col-md-3">
        <label for="secondLastname">Segundo Apellido</label>
        <input type="text" class="form-control" #secondLastname>
      </div>
      <div class="form-group col-md-5">
        <label for="dateBorn">Fecha de nacimiento</label>
        <input type="text" class="form-control" #dateBorn>
      </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
          <label for="sucursal">Sucursal donde Labora</label>
          <input type="text" class="form-control" #sucursal>
        </div>
        <div class="form-group col-md-3">
          <label for="salaryMonth">Salario Mensual</label>
          <input type="text" class="form-control" #salaryMonth>
        </div>
        <div class="form-group col-md-3">
          <label for="salaryHour">Salario por hora</label>
          <input type="text" class="form-control" #salaryHour>
        </div>
      </div>
    <button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2 btn-primary-spacing"  btn-sm> Ingresar</button>
    <button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2 btn-primary-spacing"  btn-sm> Modificar</button>
    <button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2 btn-primary-spacing" btn-sm> Eliminar</button>

  </form>