<h3>Gestión de Trabajadores</h3>
<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Numero de cédula</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label for="">Fecha de ingreso</label>
        <input type="tel" class="form-control" >
      </div>
      
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="inputCity">Nombre</label>
        <input type="text" class="form-control" >
      </div>
      <div class="form-group col-md-3">
        <label for="inputState">Primer Apellido</label>
        <input type="text" class="form-control" >
      </div>
      <div class="form-group col-md-3">
        <label for="inputState">Segundo Apellido</label>
        <input type="text" class="form-control" >
      </div>
      <div class="form-group col-md-5">
        <label for="inputState">Fecha de nacimiento</label>
        <input type="text" class="form-control" id="Ingrese el cantón">
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputCity">Sucursal donde Labora</label>
          <input type="text" class="form-control" >
        </div>
        <div class="form-group col-md-3">
          <label for="inputState">Salario Mensual</label>
          <input type="text" class="form-control" >
        </div>
        <div class="form-group col-md-3">
          <label for="inputState">Salario por hora</label>
          <input type="text" class="form-control" >
        </div>
      </div>
    <button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2 btn-primary-spacing"  btn-sm> Ingresar</button>
    <button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2 btn-primary-spacing"  btn-sm> Modificar</button>
    <button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2 btn-primary-spacing" btn-sm> Eliminar</button>

  </form>