<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
<app-header></app-header>
</h5>

<nav class="my-2 my-md-0 mr-md-3">
  <button class="p-2 text-dark" type="button" routerLink="/shoppingCart">Cliente</button>
</nav>

<nav class="my-2 my-md-0 mr-md-3">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Administración
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" routerLink="/roles">Gestión de Roles</a>
      <a class="dropdown-item" routerLink="/sucursales">Gestión de Sucursales</a>
      <a class="dropdown-item" routerLink="/trabajadores">Gestión de Trabajadores</a>
      <a class="dropdown-item" routerLink="/vendedores">Gestión de Vendedores</a>
      <a class="dropdown-item" routerLink="/productos">Gestión de Productos</a>
      <a class="dropdown-item" routerLink="/rutas">Gestión de Rutas</a>
    </div>
  </div>
</nav>

<nav class="my-2 my-md-0 mr-md-3">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Bodeguero
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" routerLink="/paquetes">Gestión de Paquetes</a>
      <a class="dropdown-item" routerLink="/rastreoPaquetes">Gestión de Rastreo de Paquetes</a>
    </div>
  </div>
</nav>

<nav class="my-2 my-md-0 mr-md-3">
  <button class="p-2 text-dark" type="button" routerLink="/bodegView">Reportes</button>
</nav>

<a class="p-2 text-dark" href="#">Sign up</a>


</div>
