<h3>Gestión de Vendedores</h3>
<form>
    <div class="form-group">
      <label for="nameSeller">Nombre del Vendedor</label>
      <input type="text" class="form-control" #nameSeller>
    </div>

    <div class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-3 pt-0">Tipo de cédula</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                <label class="form-check-label" for="gridRadios1">
                Jurídica
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                Física
                </label>
              </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="cedula">Número de cédula</label>
        <input type="text" class="form-control" #cedula>
    </div>

    <button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2 btn-primary-spacing"  btn-sm> Ingresar</button>
    <button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2 btn-primary-spacing"  btn-sm> Modificar</button>
    <button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2 btn-primary-spacing" btn-sm> Eliminar</button>

  </form>