<h1 align="center">Gestión de Vendedores</h1>

<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre Completo</mat-label>
      <input matInput placeholder="Ingrese su nombre" value="">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Número de Cédula</mat-label>
      <input matInput placeholder="Física o Jurídica">
    </mat-form-field>

    <br>
    <br>

    <div class="example-button-row">
        <button mat-raised-button color="primary">Ingresar</button> &nbsp; &nbsp;
        <button mat-raised-button color="primary">Modificar</button> &nbsp; &nbsp;
        <button mat-raised-button color="primary">Eliminar</button>
    </div>

</form>