<h1 align="center">Gestión de Trabajadores</h1>

<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre Completo</mat-label>
      <input matInput placeholder="Ingrese su nombre" value="">
    </mat-form-field>

    <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <mat-label>No. Cédula</mat-label>
          <input matInput>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Fecha Nacimiento</mat-label>
          <input matInput>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Fecha Ingreso</mat-label>
          <input matInput>
        </mat-form-field></td>
    </tr></table>

    <mat-form-field class="example-full-width">
        <mat-label>Sucursal donde labora</mat-label>
        <input matInput placeholder="Ingrese el nombre de la empresa" value="">
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <mat-label>Salario Mensual</mat-label>
          <input matInput placeholder="160 horas mensuales">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Salario por hora</mat-label>
          <input matInput >
        </mat-form-field></td>
    </tr></table>

    <br>
    <br>

    <div class="example-button-row">
        <button mat-raised-button color="primary">Ingresar</button> &nbsp; &nbsp;
        <button mat-raised-button color="primary">Modificar</button> &nbsp; &nbsp;
        <button mat-raised-button color="primary">Eliminar</button>
    </div>

</form>
