/* You can add global styles to this file, and also import other style files */
.cart-item {
  font-size: small;
}

.placed-order {
  width: 400px;
}

.filters {
  font-size: small;
}

.card-header{
  text-align: center;
  background-color: lightskyblue;
}

.reportCard {
  width: 1000px;
  margin-top: 10px;
}

.extra{
  margin: 10px 20px 10px 20px;
}

.navBar{
  height: 50px;
}
.input-su{ /** input-sign up **/
  margin: 1px 20px 10px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.reportLog {
  margin: 5px 30px 10px 5px;

}
.inline-input {
  vertical-align: middle;
  margin: 10px 10px 10px 5px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.register {
  margin-top: 20px;
}

.card .form-control .btn {
  border-radius: 0;
}

.btn-register {
  margin-top: 10px;
  margin-right: 10px;
}

.list-group-item:first-child{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.product-btn {
  font-size: smaller;
}

.change {
  margin: 20px 20px 20px 20px;
}

.delete-btn{
  background-color: darkred;
  border-color:darkred;
  margin-bottom: 50px;
}
.management-btn {
  margin-top: 50px;
  font-size: large;
}
