<h1 align="center">Gestión de Sucursales</h1>

<form class="example-form">

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Apellidos</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Encargado</mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>

  <br>
  <h3 align="left">Dirección</h3>
  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Provincia</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Cantón</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Distrito</mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>

  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Otras señas...</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </p>

  <div class="example-button-row">
    <button mat-raised-button color="primary">Ingresar</button> &nbsp; &nbsp;
    <button mat-raised-button color="primary">Modificar</button> &nbsp; &nbsp;
    <button mat-raised-button color="primary">Eliminar</button>
  </div>
</form>